.popular-track {
  @include make-flex;
  @include add-gap($column-gap: 15px);
  @include add-flexibility($basis: 545px);

  .track-img {
    @include make-box(55px, 55px);
  }

  .track-info {
    @include make-flex;
    @include add-flexibility($grow: 1);
    @include add-align-elements($align-items: center, $justify-content: space-between);

    .author-info {
      @include make-flex($direction: column);
      
      .song {
        @include typography($text-sizes, "small");
      }

      .singer {
        @include typography($text-sizes, "small");
      }
    }

    .duration-info {
      @include typography($text-sizes, "small");
    }
  }
}