@use "sass:math";

@function px-to-rem($size) {
  @return math.div($size, $rem-base) * 1rem;
}

@function get-unit($value) {
  @return str-slice($value * 0 + "", 2, -1);
}

@function is-px-unit($value) {
  @if get-unit($value) == "px" { @return true; }
  @else { @return false; }
}

@function convert-to-flex-unit($value) {
  @if type-of($value) == number and is-px-unit($value) { @return px-to-rem($value); }
  @else { @return $value; }
}
