/* Atoms */
.absolute {
  @include add-position(absolute);
}

.relative {
  @include add-position(relative);
}

.top-25 {
  top: 25px;
}

.hidden {
  @include display-none;
}

.w-full {
  @include full-width;
}

.order-1 {
  @include add-order(1);
}

.order-2 {
  @include add-order(2);
}

.order-0-sm {
  @include for-phone {
    @include add-order(0);
  }
}

.pt-100 {
  @include add-padding($top: 100px);
}

.pt-200 {
  @include add-padding($top: 200px);
}

.pb-200 {
  @include add-padding($bottom: 200px);
}

.mb-45 {
  @include add-margin($bottom: 45px);
}

.mb-48 {
  @include add-margin($bottom: 48px);
}

.mt-40 {
  @include add-margin($top: 40px);
}

.mt-25-sm {
  @include for-phone {
    @include add-margin($top: 25px);
  }
}

.mt-25-sm {
  @include for-phone {
    @include add-margin($top: 25px);
  }
}

.mt-50-sm {
  @include for-phone {
    @include add-margin($top: 50px);
  }
}

.mt-50-xl {
  @include for-desktop {
    @include add-margin($top: 50px);
  }
}

.mb-32-xl {
  @include for-desktop {
    @include add-margin($bottom: 32px);
  }
}

.mb-100 {
  @include add-margin($bottom: 100px);
}

.white {
  @include text-style("white");
}

.text-center {
  @include text-align(center)
}

.uppercase {
  @include text-style($transform: uppercase);
}

.normal {
  @include text-style($weight: normal);
}

.bold {
  @include text-style($weight: bold);
}

.capitalize {
  @include text-style($transform: capitalize);
}



.text-white {
  color: map-get($colors, "white");
}

.text-orange {
  color: map-get($colors, "orange");
}

.bg-black {
  @include bg-color("black");
}

.bg-gradient {
  @include bg-gradient(0.75turn, "gradient-1");
}