* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
hr {
  @include reset;
}

ul {
  @include reset-list;
}

a {
  @include text-decoration-none;
}

input:focus {
  color: $base-color;

  @include outline-none;
}

body {
  color: $base-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;

  background: $base-background;
}
