/* Banner setion */
.banner-section {
  @include add-padding($top: 200px, $bottom: 200px);

  .title-1 {
    @include for-phone {
      @include add-padding($top: 50px);
    }
  }

  .title-2 {
    @include add-margin($bottom: 32px);

    @include for-phone {
      @include add-margin($bottom: 16px);
    }
  }
}
/* Pricing section */
.pricing-section {
  @include add-padding($top: 100px);

  .title {
    @include add-margin($bottom: 45px);
  }

  .description {
    @include add-margin($top: 40px);
  }
}
/* News section */
.news-section {
  @include add-padding($top: 100px);

  .title {
    @include add-margin($bottom: 50px);
  }
}

/* App section */
.app-section {
  @include add-padding($top: 100px);
  @include add-margin($bottom: 100px);

  .title {
    @include add-margin($bottom: 48px);
  }

  .app-description {
    @include add-order(1);
  }

  .app-img {
    @include add-order(2);

    @include for-phone {
      @include add-order(0);
    }
  }
}

/* Background styles page */
.bg-banner {
  @include bg-image('banner');
}
