/* Navigaton footer */
.nav-footer-1 {
  @include make-flex($wrap: wrap);
  @include add-gap(40px, 31px);
  @include add-padding($top: 62px, $bottom: 72px);

  .nav-box {
    @include add-flexibility($grow: 1, $basis: 270px);

    .title {
      @include add-margin($bottom: 15px);
      @include typography($text-sizes, "s1");
    }

    .nav-area {
      @include make-flex($direction: column);
    }

    .icon-area {
      @include make-flex;
      @include add-gap(24px);
      @include add-align-elements($align-items: baseline);

      .icon-item {
        @include make-flex;
        @include add-align-elements($align-items: center);
      }
    }
  }
}

.nav-footer-2 {
  @include make-flex;
  @include add-padding($top: 40px, $bottom: 48px);
  @include add-flexibility($grow: 1);

  .nav-area {
    @include make-flex;
    @include add-flexibility($grow: 1);
    @include add-gap(16px, 16px);

    @include for-phone {
      @include make-flex($direction: column);
    }

    .nav-item {
      @include typography($text-sizes, "s1");
      line-height: 1;
    }
  }
}

/* Styles */
.footer .nav-area .nav-item {
  @include text-style($color: "gray");
}

.separation-line {
  @include make-border($color: "dark-gray");

  @include for-phone {
    @include make-border($color: "gray");
  }
}