/* Base style */
/* Typography */
/* Text-size */
/* Background */
/* Breakpoints */
/* Grid */
/* Typography */
/* Border style */
/* Media */
/* Background style */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
hr {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  color: #cacaca;
  outline: none;
}

body {
  color: #cacaca;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: #08020d;
}

/* Fonts */
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}
/* Typography general */
h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3.75rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.875rem;
    line-height: 1.5;
  }
}

h2 {
  font-size: 2.375rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 1rem;
    line-height: 1.5;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

/* Atoms */
.absolute {
  position: absolute;
}

.top-25 {
  top: 1.5625rem;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

@media screen and (max-width: 576px) {
  .order-0-sm {
    order: 0;
  }
}

.pt-100 {
  padding-top: 6.25rem;
}

.pt-200 {
  padding-top: 12.5rem;
}

.pb-200 {
  padding-bottom: 12.5rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

@media screen and (max-width: 576px) {
  .mt-25-sm {
    margin-top: 1.5625rem;
  }
}

@media screen and (max-width: 576px) {
  .mt-50-sm {
    margin-top: 3.125rem;
  }
}

@media screen and (min-width: 992px) {
  .mt-50-xl {
    margin-top: 3.125rem;
  }
}

@media screen and (min-width: 992px) {
  .mb-32-xl {
    margin-bottom: 2rem;
  }
}

.mb-100 {
  margin-bottom: 6.25rem;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.normal {
  font-weight: normal;
}

.medium {
  font-weight: medium;
}

.bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-black {
  color: #08020d;
}

.bg-black {
  background-color: #08020d;
}

.text-gray {
  color: #e0e0e0;
}

.bg-gray {
  background-color: #e0e0e0;
}

.text-dark-gray {
  color: #cacaca;
}

.bg-dark-gray {
  background-color: #cacaca;
}

.text-dark {
  color: #3c3b3d;
}

.bg-dark {
  background-color: #3c3b3d;
}

.text-green {
  color: #34c176;
}

.bg-green {
  background-color: #34c176;
}

.text-orange {
  color: #f89202;
}

.bg-orange {
  background-color: #f89202;
}

.text-purple {
  color: #5328a1;
}

.bg-purple {
  background-color: #5328a1;
}

.text-dark-red {
  color: #95390c;
}

.bg-dark-red {
  background-color: #95390c;
}

.text-transparent {
  color: transparent;
}

.bg-transparent {
  background-color: transparent;
}

.bg-gradient {
  background: linear-gradient(0.75turn, #95390c 14.9%, #5328a1 68.95%);
}

.container-content {
  max-width: 1240px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.columns-2 > * {
  flex: 1 1 45%;
}
@media screen and (max-width: 576px) {
  .columns-2 > * {
    flex: 1 1 100%;
  }
}

.gap-50 {
  column-gap: 3.125rem;
  row-gap: 3.125rem;
}

.gap-50-25 {
  column-gap: 3.125rem;
  row-gap: 1.5625rem;
}

.gap-col-50 {
  column-gap: 3.125rem;
}

.gap-row-65 {
  row-gap: 4.0625rem;
}

/* Template */
.btn {
  display: inline-block;
  padding-top: 1.25rem;
  padding-right: 1.875rem;
  padding-bottom: 1.25rem;
  padding-left: 1.875rem;
  border: none;
  border-radius: 0.3125rem;
}

/* Buttons */
.btn-access {
  width: 100%;
}

.btn-pricing {
  width: 100%;
  border: 0.0625rem solid #fff;
}

.btn-to-album {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 0.0625rem solid #cacaca;
  font-size: 0.8rem;
  line-height: 1.5;
}

.btn-download {
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

.btn-music {
  display: flex;
  column-gap: 1rem;
  width: 12.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
}
.btn-music .svg-icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* Header Form */
.form-search {
  display: flex;
  margin-left: auto;
  width: 15.5rem;
}
@media screen and (max-width: 576px) {
  .form-search {
    width: 100%;
    margin-left: 0;
  }
}
.form-search .form-group {
  display: flex;
  flex: 1 1 auto;
}
.form-search .form-group input {
  flex: 1 1 auto;
  padding-top: 0.3125rem;
  padding-right: 0.625rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  border: none;
  border-radius: 3.125rem;
}

/* Main Form */
.form-subscribe {
  max-width: 35.625rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.form-subscribe .form-group {
  display: flex;
  flex: 1 1 16.875rem;
}
.form-subscribe .form-group input {
  min-height: 3.125rem;
  flex: 1 1 auto;
  padding-left: 1.25rem;
  border: 0.125rem solid #cacaca;
  border-radius: 0.1875rem;
}
.form-subscribe .form-group input::placeholder {
  color: #fff;
}

/* Catalog Form */
.form-to-album .form-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

/* Pricing Card */
.pricing-item {
  flex: 1 1 30%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}
.pricing-item .item-title {
  margin-top: 1.5rem;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 576px) {
  .pricing-item .item-title {
    margin-top: 1rem;
  }
}
.pricing-item .item-value {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.5rem;
}
.pricing-item .item-value .value-cost {
  font-size: 4rem;
  line-height: 1;
}
.pricing-item .item-value .value-currency {
  font-size: 1.875rem;
  line-height: 1.5;
}
.pricing-item .item-description {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Background styles component */
.bg-free {
  background-image: url("../assets/images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../assets/images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../assets/images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

/* News item */
.news-item {
  display: grid;
  grid-template-areas: "img img img body" "img img img footer";
  column-gap: 3.125rem;
}
@media screen and (max-width: 576px) {
  .news-item {
    display: grid;
    grid-template-areas: "img" "body" "footer";
  }
}
.news-item.reverse {
  display: grid;
  grid-template-areas: "body img img img" "footer img img img";
}
@media screen and (max-width: 576px) {
  .news-item.reverse {
    display: grid;
    grid-template-areas: "img" "body" "footer";
  }
}
.news-item .news-img {
  display: flex;
  grid-area: img;
}
@media screen and (max-width: 576px) {
  .news-item .news-img {
    margin-bottom: 3.125rem;
  }
}
.news-item .news-body {
  grid-area: body;
}
.news-item .news-body .news-title {
  margin-bottom: 1.875rem;
  font-size: 1.875rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  .news-item .news-body .news-title {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.news-item .news-body .news-description {
  margin-bottom: 1.5rem;
}
.news-item .news-footer {
  grid-area: footer;
}
.news-item .news-footer .news-author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 3rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Popular-track item */
.popular-track {
  display: flex;
  column-gap: 0.9375rem;
  flex: 0 1 34.0625rem;
}
.popular-track .track-img {
  width: 3.4375rem;
  height: 3.4375rem;
}
.popular-track .track-info {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}
.popular-track .track-info .author-info {
  display: flex;
  flex-direction: column;
}
.popular-track .track-info .author-info .song {
  font-size: 0.8rem;
  line-height: 1.5;
}
.popular-track .track-info .author-info .singer {
  font-size: 0.8rem;
  line-height: 1.5;
}
.popular-track .track-info .duration-info {
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Discography item */
.discography-item {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
  flex: 0 1 15.625rem;
}
@media screen and (max-width: 576px) {
  .discography-item {
    flex: 0 1 8.5625rem;
  }
}
.discography-item .discography-img {
  width: 15.625rem;
  height: 15.625rem;
}
@media screen and (max-width: 576px) {
  .discography-item .discography-img {
    width: 8.5625rem;
    height: 8.5625rem;
  }
}
.discography-item .discography-info {
  display: flex;
  flex-direction: column;
}
.discography-item .discography-info .album {
  font-size: 1.125rem;
  line-height: 1.5;
}

.similar-item {
  display: flex;
  flex-direction: column;
  row-gap: 1.0625rem;
  flex: 0 1 15.625rem;
}
@media screen and (max-width: 576px) {
  .similar-item {
    flex: 0 1 8.5625rem;
  }
}
.similar-item .similar-img {
  width: 15.625rem;
  height: 15.625rem;
}
@media screen and (max-width: 576px) {
  .similar-item .similar-img {
    width: 8.5625rem;
    height: 8.5625rem;
  }
}
.similar-item .similar-info {
  display: flex;
  flex-direction: column;
}
.similar-item .similar-info .singer {
  font-size: 1.125rem;
  line-height: 1.5;
}

/* Navigaton header */
.nav-header {
  display: flex;
  align-items: center;
  font-size: 0.6875rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
.nav-header .logo-area {
  display: flex;
  align-items: center;
}
.nav-header .logo-area .logo-title {
  margin-left: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.nav-header .menu-area {
  display: flex;
  column-gap: 1.5rem;
  margin-left: 5.625rem;
}
@media screen and (max-width: 576px) {
  .nav-header .menu-area {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
.nav-header .menu-area .menu-item {
  color: #cacaca;
  text-transform: uppercase;
}
.nav-header .menu-area .menu-item.active, .nav-header .menu-area .menu-item:hover {
  color: #fff;
}

/* Navigaton footer */
.nav-footer-2 {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  flex: 1 1 auto;
}
.nav-footer-2 .nav-area {
  display: flex;
  flex: 1 1 auto;
  column-gap: 1rem;
  row-gap: 1rem;
}
@media screen and (max-width: 576px) {
  .nav-footer-2 .nav-area {
    display: flex;
    flex-direction: column;
  }
}

.nav-footer-1 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 1.9375rem;
  padding-top: 3.9375rem;
  padding-bottom: 4.5rem;
}
.nav-footer-1 .nav-box {
  flex: 1 1 16.875rem;
}
.nav-footer-1 .nav-box .title {
  margin-bottom: 0.9375rem;
  font-size: 1.125rem;
  line-height: 1.5;
}
.nav-footer-1 .nav-box .nav-area,
.nav-footer-1 .nav-box .contact-area {
  display: flex;
  flex-direction: column;
}
.nav-footer-1 .nav-box .nav-area .nav-item[href^="#"],
.nav-footer-1 .nav-box .nav-area .contact-item[href^="#"],
.nav-footer-1 .nav-box .contact-area .nav-item[href^="#"],
.nav-footer-1 .nav-box .contact-area .contact-item[href^="#"] {
  width: max-content;
}
.nav-footer-1 .nav-box .icon-area {
  display: flex;
  column-gap: 1.5rem;
  align-items: baseline;
}
.nav-footer-1 .nav-box .icon-area .icon {
  vertical-align: middle;
}

/* Styles */
.nav-area .nav-item,
.contact-area .contact-item {
  color: #e0e0e0;
}

.separation-line {
  border: 0.0625rem solid #cacaca;
}
@media screen and (max-width: 576px) {
  .separation-line {
    border: 0.0625rem solid #e0e0e0;
  }
}

/* Background styles page */
.bg-banner {
  background-image: url("../assets/images/banner.png");
  background-position: center;
  background-size: cover;
}

/* Background styles page */
.bg-morten-harket {
  background-image: url("../assets/images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
